<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   	<meta charset="utf-8">
	<!-- Place this data between the <head> tags of your website -->
	<title>caari</title>
	<meta name="description" content="caari! Your own personalized bot." />

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="caari">
	<meta itemprop="description" content="caari! Your own personalized bot.">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@caari">
	<meta name="twitter:title" content="caari">
	<meta name="twitter:description" content="caari! Your own personalized bot.">
	<meta name="twitter:creator" content="@waleedashraf01">
	<!-- Twitter summary card with large image must be at least 280x150px -->
	<meta name="twitter:image:src" content="images/caari.png">

	<!-- Open Graph data -->
	<meta property="og:title" content="caari" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://www.caari.heroku.com/" />
	<meta property="og:image" content="images/caari.png" />
	<meta property="og:description" content="caari! Your own personalized bot." />
	<meta property="og:site_name" content="caari" />
	<meta property="article:published_time" content="2016-12-12T01:14:00+05:00" />
	<meta property="fb:admins" content="caarithebot" />

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="/css/base.css">  
   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/css/vendor.css">

   <!-- script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="/images/favicon.png">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>

   	<div class="row">
   		<div class="logo">
   			<a href="index.ejs"><img src="images/caarid.png"></img></a>
	        <a href="index.ejs">caari</a>
	    </div> 

		<div class="social-links">
		   <ul>
				<li><a href="https://www.facebook.com/caarithebot/"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/caarithebot"><i class="fa fa-twitter"></i></a></li>
			</ul>
		</div>
   	</div> 

   </header> <!-- /header -->   

   <!-- home
   ================================================== -->
   <section id="home" class="home-static">

   	<div class="shadow-overlay"></div>

   	<div class="content-wrap-table">		   

		   <div class="main-content-tablecell">

		   	<div class="row">
		   		<div class="col-twelve">

		   			<div id="counter">
		   				<div class="half">
		   					<span>0<sup>days</sup></span> 
		 						<span>15<sup>hours</sup></span>
		   				</div>
							<div class="half">
								<span>32<sup>mins</sup></span>
		 						<span>54<sup>secs</sup></span>
		 					</div> 
		   			</div>

			  			<div class="bottom-text">
			  				<h1>Launching soon.</h1>
				  			<p>
							Your own personalized bot!
				  			</p>			  				
			  			</div>			  						  			   			

			   	</div> <!-- /twelve --> 

			   	<div class="scroll-icon">

					   <p class="scroll-text">Scroll For More Info</p>
					   <a href="#info" class="smoothscroll">
					   	<div class="mouse"></div>
					   </a>
				   	<div class="end-top"></div>

					</div> <!-- /scroll-icon -->
		   	</div> <!-- /row -->  

		   </div> <!-- /main-content --> 
		   
		</div> <!-- /content-wrap -->
   
   </section> <!-- /home -->


   <!-- info
   ================================================== -->
   <section id="info">

   	<div class="info-overlay"></div>

   	<div class="row">   		
   		<div class="col-twelve tabs-wrap">

   			<ul class="tabs"> 
   				<li class="active" data-id="tab-about"><i class="icon-user"></i><span>About</span></li>
   				<li data-id="tab-contact"><i class="icon-mail"></i><span>Contact</span></li>			
				</ul> <!-- /tabs -->

				<div class="tab-container">

					<!-- tab content - about
   				================================================== -->
					<div id="tab-about" class="tab-content">
						
					   <div class="tab-entry">

					   	<div class="row tab-entry-intro">
					   		<div class="col-twelve with-bottom-line">

					   			<h1>Get To Know Me.</h1>

					   			<p class="lead">I'm your own personalized bot!</p>

					   		</div>   		
					   	</div> <!-- /tab-content-intro -->
					     		
					   </div> <!-- /tab-entry -->

					</div> <!-- /tab-about -->	


					<!-- tab content contact
   				================================================== -->
					<div id="tab-contact" class="tab-content">

						<div class="tab-entry">

							<div class="row tab-entry-intro">
					   		<div class="col-twelve with-bottom-line">

					   			<h1>Get In Touch.</h1>

					   			<p class="lead">Want something? Mail me at </br>
					   				caari@waleedashraf.me
					   			</p>

					   		</div>   		
					   	</div> <!-- /tab-content-intro -->

						</div> <!-- /tab-entry --> 					

					</div> <!-- /tab-contact -->

				</div> <!-- /tab-container -->
   			
   		</div> <!-- twelve -->
   	</div> <!-- row -->   	

   </section> <!-- /info -->


   <!-- footer
   ================================================== -->
   <footer>

   	<div class="social-wrap">
   		<div class="row">
				
	         <ul class="footer-social-list">
	            <li><a href="https://www.facebook.com/caarithebot/"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/caarithebot"><i class="fa fa-twitter"></i></a></li>
	         </ul>
	         
			</div> <!-- /row -->
   	</div> <!-- /social-wrap -->

   	<div class="footer-bottom">

			<div class="footer-logo">
					<img src="images/caari.png" alt="">				
			</div>

   		<div class="copyright">
		     	<span>© Copyright caari 2016.</span> 
		     	<span>Design by <a href="https://www.waleedashraf.me/">Waleed Ashraf</a></span>		         	
		   </div>		   

   	</div> <!-- /footer-bottom -->

   	<div class="back-to-top">
		 	<a href="#top" class="smoothscroll"><span>Back to Top</span></a>
		</div>

   </footer>

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

</body>

</html>