<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   	<meta charset="utf-8">
	<!-- Place this data between the <head> tags of your website -->
	<title>caari</title>
	<meta name="description" content="caari! Your own personalized bot. Just let me know what you need." />

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="caari">
	<meta itemprop="description" content="caari! Your own personalized bot. Just let me know what you need.">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@caari">
	<meta name="twitter:title" content="caari">
	<meta name="twitter:description" content="caari! Your own personalized bot. Just let me know what you need.">
	<meta name="twitter:creator" content="@waleedashraf01">
	<!-- Twitter summary card with large image must be at least 280x150px -->
	<meta name="twitter:image:src" content="https://caari.io/images/caari.png">

	<!-- Open Graph data -->
	<meta property="og:title" content="caari" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://caari.io/" />
	<meta property="og:image" content="https://caari.io/images/caari.png" />
	<meta property="og:description" content="caari! Your own personalized bot. Just let me know what you need." />
	<meta property="og:site_name" content="caari" />
	<meta property="fb:admins" content="caarithebot" />

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
  	<link rel="stylesheet" href="/css/fonts.min.css" type="text/css">
  	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" type="text/css">
 		<link rel="stylesheet" href="/css/micons/micons.min.css" type="text/css">

		<link rel="stylesheet" href="/css/base.min.css">  
		<link rel="stylesheet" href="/css/main.min.css">
		<link rel="stylesheet" href="/css/vendor.min.css">

   <!-- script
   ================================================== -->
	 <!-- <script src="js/modernizr.js"></script> -->

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-74330031-2', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body id="top">

	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '330547883970820',
				xfbml      : true,
				version    : 'v2.8'
			});
			FB.AppEvents.logPageView();
		};

		function logEvent(param) {
			FB.init({
				appId      : '330547883970820',
				xfbml      : true,
				version    : 'v2.8'
			});
			FB.AppEvents.logEvent(param);
		}

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	

	<!-- header 
   ================================================== -->
   <header>

   	<div class="row">
   		<div class="logo">
   			<a href="https://caari.io"><img src="images/caarid.png"></img></a>
	        <a href="https://caari.io">caari</a>
	    </div> 

		<div class="social-links">
		   <ul>
			 	<li id="top-github"><a href="https://github.com/WaleedAshraf/caari"><i class="fa fa-github"></i></a></li>
				<li id="top-fa"><a href="https://www.facebook.com/caarithebot/"><i class="fa fa-facebook"></i></a></li>
				<li id="top-twit"><a href="https://twitter.com/caarithebot"><i class="fa fa-twitter"></i></a></li>
				<li id="top-insta"><a href="https://www.instagram.com/caarithebot/"><i class="fa fa-instagram"></i></a></li> 
			</ul>
		</div>
   	</div> 

   </header> <!-- /header -->   

   <!-- home
   ================================================== -->
   <section id="home" class="home-static">

   	<div class="shadow-overlay"></div>

   	<div class="content-wrap-table">		   

		   <div class="main-content-tablecell">

		   	<div class="row">
		   		<div class="col-twelve">

		   			<div id="counter">
		   				<div class="half">
		   					<span>0<sup>days</sup></span> 
		 						<span>15<sup>hours</sup></span>
		   				</div>
							<div class="half">
								<span>32<sup>mins</sup></span>
		 						<span>54<sup>secs</sup></span>
		 					</div> 
		   			</div>

			  			<div class="bottom-text">
			  				<h1>Launching soon.</h1>
				  			<p>
							Your own personalized bot!
				  			</p>			  				
			  			</div>			  						  			   			

			   	</div> <!-- /twelve --> 

			   	<div class="scroll-icon">

					   <p class="scroll-text">Scroll For More Info</p>
					   <a href="#info" class="smoothscroll">
					   	<div class="mouse"></div>
					   </a>
				   	<div class="end-top"></div>

					</div> <!-- /scroll-icon -->
		   	</div> <!-- /row -->  

		   </div> <!-- /main-content --> 
		   
		</div> <!-- /content-wrap -->
   
   </section> <!-- /home -->
	 
   <!-- info
   ================================================== -->
   <section id="info">

   	<div class="info-overlay"></div>

   	<div class="row">   		
   		<div class="col-twelve tabs-wrap">

   			<ul class="tabs"> 
   				<li class="active" data-id="tab-about" id="about-click"><i class="icon-user"></i><span>About</span></li>
   				<li data-id="tab-contact" id="contact-click"><i class="icon-mail"></i><span>Contact</span></li>			
				</ul> <!-- /tabs -->

				<div class="tab-container">

					<!-- tab content - about
   				================================================== -->
					<div id="tab-about" class="tab-content">
						
					   <div class="tab-entry">

					   	<div class="row tab-entry-intro">
					   		<div class="col-twelve with-bottom-line">

					   			<h1>Get To Know Me.</h1>

					   			<p class="lead">You know what? I'm your own personalized bot!<br>
									 I can notify you aboud your <b>Travis</b> builds, manage your <b>Facebook Messenger</b> chat,<br>
									 integrate throw <b>Facebook</b> profile, listen to your <b>Github</b> repos and give you easy<br>
									 access to <b>Google docs</b>. All of this, can be done through <b>Slack</b>.
					   			</p>

					   		</div>   		
					   	</div> <!-- /tab-content-intro -->
					     		
					   </div> <!-- /tab-entry -->

					</div> <!-- /tab-about -->	


					<!-- tab content contact
   				================================================== -->
					<div id="tab-contact" class="tab-content">

						<div class="tab-entry">

							<div class="row tab-entry-intro">
					   		<div class="col-twelve with-bottom-line">

					   			<h1>Get In Touch.</h1>

					   			<p class="lead">Want something? Mail me at </br>
					   				<a href="mailto:hy@caari.io?Subject=Hello" target="_top" id="mail-click">hy@caari.io</a>
					   			</p>

					   		</div>   		
					   	</div> <!-- /tab-content-intro -->

						</div> <!-- /tab-entry --> 					

					</div> <!-- /tab-contact -->

				</div> <!-- /tab-container -->
   			
   		</div> <!-- twelve -->
   	</div> <!-- row -->   	

   </section> <!-- /info -->

	<!-- details
   ================================================== -->
	 <section id="home" class="home-static">
   	<div class="shadow-overlay"></div>
   	<div class="content-wrap-table">		   
		   <div class="main-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve align-center">
					 <h2 class="int-heading" >All of your integratoins at one place.</h2>
					 	<img class="int-image" src="images/caari_integrations.png"></img>
			   	</div> <!-- /twelve --> 
		   	</div> <!-- /row -->  
		   </div> <!-- /main-content --> 
		</div> <!-- /content-wrap -->
   </section> <!-- /details -->
   <!-- footer
   ================================================== -->
   <footer>

   	<div class="social-wrap">
   		<div class="row">
				<ul class="footer-social-list">
					<li id="bottom-github"><a href="https://github.com/WaleedAshraf/caari"><i class="fa fa-github"></i></a></li>
					<li id="bottom-fa"><a href="https://www.facebook.com/caarithebot/"><i class="fa fa-facebook"></i></a></li>
					<li id="bottom-twit"><a href="https://twitter.com/caarithebot"><i class="fa fa-twitter"></i></a></li>
					<li id="bottom-insta"><a href="https://www.instagram.com/caarithebot/"><i class="fa fa-instagram"></i></a></li> 
				</ul>
	         
			</div> <!-- /row -->
   	</div> <!-- /social-wrap -->

   	<div class="footer-bottom">

			<div class="footer-logo">
					<img src="images/caari.png" alt="caari">				
			</div>

   		<div class="copyright"> 
		     	<span id="site-click">Made with <img src="images/heart2.png" class="heart" alt="love"> by <a href="https://www.waleedashraf.me/">Waleed Ashraf</a></span><br>
					 <span>© Copyright caari 2016 - 17.</span>		         	
		   </div>		   

   	</div> <!-- /footer-bottom -->

   	<div class="back-to-top">
		 	<a href="#top" class="smoothscroll" id="back-to-top"><span>Back to Top</span></a>
		</div>

   </footer>

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

</body>

</html>
<script>
	$('#top-github').click(function() { logEvent('TopGitButton'); });
	$('#top-fa').click(function() { logEvent('TopFaButton'); });
	$('#top-twit').click(function() { logEvent('TopTwitButton'); });
	$('#top-insta').click(function() { logEvent('TopInstaButton'); });
	$('#about-click').click(function() { logEvent('about-clic'); });
	$('#contact-click').click(function() { logEvent('contact-click'); });
	$('#mail-click').click(function() { logEvent('mail-click'); });
	$('#site-click').click(function() { logEvent('site-click'); });
	$('#bottom-github').click(function() { logEvent('BottomGitButton'); });
	$('#bottom-fa').click(function() { logEvent('BottomFaButton'); });
	$('#bottom-twit').click(function() { logEvent('BottomTwitButton'); });
	$('#bottom-insta').click(function() { logEvent('BottomInstaButton'); });
	$('#back-to-top').click(function() { logEvent('back-to-top'); });
</script>